/* dev.opera.com has a bunch of cross-browser stuff. */
* {  /* makes everything include padding and borders in its height and width */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    min-height: 100%;
}
body {
    /* /* You'd need this if there were a navigation section. */
    /* margin: 0vw 0vh 0vh 15vw;
    /* width: 80%;  /* This isn't 85% because I'm leaving room for the scroll bar and making words not go to the edge of the page. */
    /* */
    margin-right: 5.5%;
    min-height: 100%;
    padding: 1% 0% 5% 5%;
    background: #00e;  /* for browsers that do not support gradients */
    background: -webkit-repeating-linear-gradient(#00e, white 100vh, #00e 200vh);  /* Safari 5.1 to 6.0 */
    background: -o-repeating-linear-gradient(#00e, white 100vh, #00e 200vh);  /* Opera 11.1 to 12.0 */
    background: -moz-repeating-linear-gradient(#00e, white 100vh, #00e 200vh);  /* Firefox 3.6 to 15 */
    background: repeating-linear-gradient(#00e, white 100vh, #00e 200vh);  /* standard syntax */
    text-align: center;
}
section {
    margin: auto;
    margin-top: 4%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 1% 5% 5% 5%;
    background: rgba(255, 255, 255, .5);
}
div {
    margin: auto;
    display: inline-block;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ol, ul {
    display: table;
    visibility: hidden;
    margin: 0em;
}
ul {
    padding-left: 2em;
}
li {
    margin-top: .5em;
    margin-bottom: .5em;
}
table {
    margin: auto;
    border: .1em solid black;
    border-collapse: collapse;
    background: #fefefe;
}
th, td {
    border: .1em solid black;
    border-collapse: collapse;
    padding: .5em;
}
th {
    background: #dddddd;
}
input {
    text-align: center;
}
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -.4em;
}
sub { 
    top: .4em; 
}
mark {
    padding: .2em;
}
note {  /* my custon tag (puts notes in text) */
    color: blue;
    cursor: help;
}
note:hover {
    text-decoration: underline;
}
over {  /* my custom tag (overlines things) */
    display: inline;
    margin: 0em;
    border: 0em;
    padding: 0em;
    text-decoration: overline;
}
h1.mainTitle {
    color: white;
}
div.nav {
    position: fixed;
    left: 0em;
    top: 0em;
    padding-right: 1em;
    width: 15vw;  /* could fill horizontally with 100vw */
    height: 100%;
    /*
    /* background: #0e0; /* For browsers that do not support gradients */
    /* background: -webkit-repeating-radial-gradient(circle, #0e0, #0e0 10%, white 11%, white 21%, #0e0 22%);  /* For Safari 5.1 to 6.0 */
    /* background: -o-repeating-radial-gradient(circle, #0e0, #0e0 10%, white 11%, white 21%, #0e0 22%);  /* For Opera 11.6 to 12.0 */
    /* background: -moz-repeating-radial-gradient(circle, #0e0, #0e0 10%, white 11%, white 21%, #0e0 22%);  /* For Firefox 3.6 to 15 */
    /* background: repeating-radial-gradient(circle, #5ee, white 15%, #5ee 30%);  /* Standard syntax */
    /* */
    background: white;
    text-align: left;
}
div.nav ol, div.nav ul {
    visibility: visible;
}
div.list {  /* for lists within <div class="list"></div> */
    margin: 0em;
    text-align: left;
}
table.compact {
    visibility: hidden;
}
@font-face {
    font-family: "Bad Duck";
    src: url(https://coolprogramminguser.github.io/Standards/fonts/Bad Duck.ttf) format("truetype");
}
@font-face {
    font-family: "Braille";
    src: url(https://coolprogramminguser.github.io/Standards/fonts/Braille.ttf) format("truetype");
}
