/* dev.opera.com has a bunch of cross-browser stuff. */
/*
element.style,
stylesheet.addRule(),
stylesheet.insertRule(),
stylesheet.deleteRule(),
document.querySelector(),
window.getComputedValue().getPropertyValue(),
CSS attr(),
and class manipulation
could be used to modify CSS
(in particular pseudo-elements)
*/
* {  /* makes everything include padding and borders in its height and width */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {  /* This accesses the outer-most element (html). */
    --nav-slide-time: .8s;
}
html {
    min-height: 100%;
}
body {
    margin-right: 5.5%;
    min-height: 100%;
    padding: 1% 0% 5% 5%;
    background: #0000ee;  /* for browsers that do not support gradients */
    background: -webkit-repeating-linear-gradient(#0000ee, white 100vh, #0000ee 200vh);  /* Safari 5.1 to 6.0 */
    background: -o-repeating-linear-gradient(#0000ee, white 100vh, #0000ee 200vh);  /* Opera 11.1 to 12.0 */
    background: -moz-repeating-linear-gradient(#0000ee, white 100vh, #0000ee 200vh);  /* Firefox 3.6 to 15 */
    background: repeating-linear-gradient(#0000ee, white 100vh, #0000ee 200vh);  /* standard syntax */
    text-align: center;
}
section {
    margin: auto;
    margin-top: 4%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 1% 5% 5% 5%;
    background: rgba(255, 255, 255, .5);
}
div {
    margin: auto;
    display: inline-block;
}
nav {
    position: fixed;
    background: white;
}
nav.left-nav {
    left: 0em;
    top: 0em;
    border-right: .05em solid #aaaaaa;
    width: 15vw;
    height: 100vh;
}
body.left-nav {
    margin: 0vw 0vh 0vh 15vw;
    width: 80vw;
    /*
    The width isn't 85vw because it wouldn't leave room for a vertical scroll bar.
    (Not leaving room would create a horizontal scroll bar.)
    */
}
nav.hidden-left-nav {
    left: -20.5vw;
    top: 0em;
    z-index: 5;
    border-right: .05em solid #aaaaaa;
    width: 20.5vw;
    height: 100vh;
    transition: transform .8s;
    transition: transform var(--nav-slide-time);
}
div.nav-tab {
    position: absolute;
    left: 0vh;
    top: 46vh;
    z-index: 5;
    width: 4vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .05em solid #888888;
    border-left: none;
    border-radius: 0vh 1.5vh 1.5vh 0vh;
    background: #bbbbbb;
    font-family: monospace;
    font-size: 2em;
    color: #777777;
    cursor: default;
    transition: transform .8s;
    transition: transform var(--nav-slide-time);
}
div.darkener {
    position: absolute;
    left: 0em;
    top: 0em;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity .8s;
    transition: opacity var(--nav-slide-time);
}
nav.top-nav {
    position: -webkit-sticky;
    position: sticky;
    left: 0em;
    top: 0em;
    border-bottom: .05em solid #aaaaaa;
    width: 100vw;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ol, ul {
    display: table;
    margin: .5em auto;
    padding-right: 1em;
    text-align: left;
}
ul {
    padding-left: 2em;
}
li {
    margin-top: .5em;
    margin-bottom: .5em;
}
table {
    margin: auto;
    border: .05em solid black;
    border-collapse: collapse;
    background: #fefefe;
    text-align: center;
}
th, td {
    border: .05em solid black;
    border-collapse: collapse;
    padding: .5em;
}
th {
    background: #dddddd;
}
input {
    text-align: center;
}
input[type="text"] {
    cursor: text;
}
input[type="checkbox"] {
    margin: .5em;
    cursor: pointer;
}
input[type="button"] {
    cursor: pointer;
}
button {
    cursor: pointer;
}
textarea {
    font-family: inherit;
    font-size: 1em;
}
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -.4em;
}
sub { 
    top: .4em; 
}
mark {
    padding: .1em;
}
label {
    cursor: text;
}
note- {  /* my custon tag (puts notes in text) */
    color: blue;
    cursor: help;
}
note-:hover {
    text-decoration: underline;
}
over- {  /* my custom tag (overlines things) */
    display: inline;
    margin: 0em;
    border: 0em;
    padding: 0em;
    text-decoration: overline;
}
.login-section {
    position: absolute;
    top: 3em;
    right: 3em;
}
.list {  /* for left-aligned content as close to the middle of the page as possible */
    display: table;
    margin: auto;
    text-align: left;
}
.circle {
    border: .05em solid black;
    border-radius: .5em;
}
.full-spin {
    transition: 1s;
    -ms-transform: rotate(360deg);  /* Internet Explorer 9 */
    -webkit-transform: rotate(360deg);  /* Safari */
    transform: rotate(360deg);  /* standard syntax */
}
.half-spin {
    transition: .5s;
    -ms-transform: rotate(180deg);  /* Internet Explorer 9 */
    -webkit-transform: rotate(180deg);  /* Safari */
    transform: rotate(180deg);  /* standard syntax */
}
h1.main-title {
    color: white;
}
table.compact {
    visibility: hidden;
}
/*
@keyframes animation-name {
    from {
        starting position(s)
    }
    to {
        ending position(s)
    }
    An indefinite number of percentages (with "%") can be used instead of "from" and "to".
}
.class {
    animation-name: animation-name;
    animation-duration: 0s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;  // I like "forwards" better.
}
*/
@font-face {
    font-family: "Bad Duck";
    src: url(https://coolprogramminguser.github.io/Standards/fonts/Bad Duck.ttf) format("truetype");
}
@font-face {
    font-family: "Braille";
    src: url(https://coolprogramminguser.github.io/Standards/fonts/Braille.ttf) format("truetype");
}
