/* dev.opera.com has a bunch of cross-browser stuff. */
* {  /* makes everything include padding and borders in its height and width */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    min-height: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    /*
    margin: 0vw 0vh 0vh 15vw;
    padding-left: 5%;
    width: 80%;  /* This isn't 85% because I'm leaving room for the scroll bar and making words not go to the edge of the page. */
    min-height: 100%;
    background: #0e0;  /* for browsers that do not support gradients */
    background: -webkit-repeating-linear-gradient(#0e0, white 100vh, #0e0 200vh);  /* Safari 5.1 to 6.0 */
    background: -o-repeating-linear-gradient(#0e0, white 100vh, #0e0 200vh);  /* Opera 11.1 to 12.0 */
    background: -moz-repeating-linear-gradient(#0e0, white 100vh, #0e0 200vh);  /* Firefox 3.6 to 15 */
    background: repeating-linear-gradient(#0e0, white 100vh, #0e0 200vh);  /* standard syntax */
    */
    text-align: center;
}
div {
    margin: auto;
    display: inline-block;
}
nav {
    position: fixed;
    left: 0em;
    top: 0em;
    padding-right: 1em;
    width: 15vw;  /* could fill horizontally with 100vw */
    height: 100%;
    /*
    background: #0e0; /* For browsers that do not support gradients */
    background: -webkit-repeating-radial-gradient(circle, #0e0, #0e0 10%, white 11%, white 21%, #0e0 22%);  /* For Safari 5.1 to 6.0 */
    background: -o-repeating-radial-gradient(circle, #0e0, #0e0 10%, white 11%, white 21%, #0e0 22%);  /* For Opera 11.6 to 12.0 */
    background: -moz-repeating-radial-gradient(circle, #0e0, #0e0 10%, white 11%, white 21%, #0e0 22%);  /* For Firefox 3.6 to 15 */
    background: repeating-radial-gradient(circle, #5ee, white 15%, #5ee 30%);  /* Standard syntax */
    */
    text-align: left;
}
ol, ul {
    display: table;
}
ul {
    padding-left: 2em;
}
table {
    margin: auto;
    border: .1em solid black;
    border-collapse: collapse;
}
th, td {
    border: .1em solid black;
    border-collapse: collapse;
    padding: .5em;
}
input {
    text-align: center;
}
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -.4em;
}
sub { 
    top: .4em; 
}
over {  /* my custom tag (overlines things) */
    display: inline;
    margin: 0em;
    border: 0em;
    padding: 0em;
    text-decoration: overline;
}
div.list ol, div.list ul {  /* for lists within <div class="list"></div> */
    text-align: left;
}
/*
@font-face {
    font-family: "Braille";
    src: url(fonts/Braille.ttf) format("truetype");
}
@font-face {
    font-family: "Bad Duck";
    src: url(fonts/Bad Duck.ttf) format("truetype");
}
*/
