body {
	background: repeating-linear-gradient(#0b0, #0b0 10vh, white 10vh, white 20vh, red 20vh, red 30vh, white 30vh, white 40vh);
	font-family: sans-serif;
}

nav.top-nav {
	background: green;
}
nav.top-nav div.drop-down div {
	background: #a6a;
}
nav.top-nav div.drop-down>div:first-child {
	background: green;
	color: silver;
}
nav.top-nav div.drop-down:hover>div:first-child, nav.top-nav div.drop-down:focus>div:first-child, nav.top-nav div.drop-down:focus-within>div:first-child {
	background: #cfc;
}
nav.top-nav>button {
	border-radius: 0em;
	background: green;
	color: silver;
}
nav.top-nav>button::before {
	display: none;
}
nav.top-nav>button::after {
	display: none;
}

button:not(.hide-aside) {
	position: relative;
	margin-top: 1rem;
	border: .05em solid rgba(0, 0, 255, .5);
	border-radius: 1.2em;
	padding: .4em;
	background: radial-gradient(#aaf, blue);
	color: white;
}
button:not(.hide-aside)::before {
	content: "";
	position: absolute;
	bottom: 120%;
	left: calc(50% - .3em);
	border: .05em solid black;
	border-radius: .3em;
	width: .6em;
	height: .6em;
}
button:not(.hide-aside)::after {
	content: "";
	position: absolute;
	bottom: calc(100% + .05em);
	left: calc(50% - .5em);
	width: 1em;
	height: .5em;
	background: silver;
}
button:disabled, button[disabled] {
	background: radial-gradient(#aaa, #555);
	border-color: rgba(85, 85, 85, .5);
}

@media (prefers-color-scheme: dark) {
	body {
		background: repeating-linear-gradient(#0b0, #0b0 10vh, black 10vh, black 20vh, red 20vh, red 30vh, black 30vh, black 40vh);
	}
	button:not(.hide-aside)::before {
		border-color: gold;
	}
}
