body {
	background: repeating-linear-gradient(#0c0, white 100vh, #0c0 200vh);
	background-attachment: fixed;
	font-family: Garamond;
}

h1.main-title {
	color: black;
}
h1.main-title::before {
	content: "\2618\00a0";
}
h1.main-title::after {
	content: "\00a0\2618";
}

nav.top-nav {
	background: linear-gradient(#080, #0a0, #080);
}
nav.top-nav div.drop-down div {
	background: #0e0;
	color: black;
}
nav.top-nav div.drop-down>div:first-child {
	background: transparent;
	color: white;
}
nav.top-nav div.drop-down:is(:hover, :focus, :focus-within) > div:first-child {
	background: #4c4;
}
nav.top-nav>button {
	border-radius: 0em;
	background: transparent;
	color: black;
}
nav.top-nav>button::before {
	display: none;
}
nav.top-nav>button::after {
	display: none;
}
nav.hidden-left-nav {
	border-right-color: #0c0;
}

button:not(.hide-aside) {
	position: relative;
	border-width: 0em;
	border-radius: 2em;
	padding-top: .4em;
	background-image: radial-gradient(#555, #000);
	color: yellow;
}
button:not(.hide-aside)::before {
	content: "";
	position: absolute;
	left: 0%;
	bottom: 85%;
	width: 100%;
	height: 20%;
	border-radius: 2em;
	background-image: radial-gradient(#484848, #333, #000);
	color: yellow;
}
button:not(.hide-aside):active::after {
	/* makes the rainbow while active */
	content: "\1f308";
	position: absolute;
	left: 0em;
	right: 0em;
	bottom: 100%;
	font-size: 1.5em;
}
button:not(.hide-aside):disabled, button:not(.hide-aside)[disabled] {
	background-image: radial-gradient(#888, #333);
	color: #bbb;
	filter: grayscale(100%);
}
button:not(.hide-aside):disabled::before, button:not(.hide-aside)[disabled]::before {
	background-image: radial-gradient(#888, #333);
}
button:not(.hide-aside):disabled::after, button:not(.hide-aside)[disabled]::after {
	content: "";
}

.dialog {
	border-color: #0c0;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><text y='9' font-size='9' opacity='.25'>\1f340</text></svg>");
	background-size: 2em 2em;
	background-repeat: repeat;
}

@media (prefers-color-scheme: dark) {
	body {
		background-image: repeating-linear-gradient(#080, black 100vh, #080 200vh);
	}

	h1.main-title {
		color: white;
	}

	nav.top-nav {
		
	}
	nav.top-nav div.drop-down div :is(h2, h3, h4, h5, h6) {
		color: black;
	}
	nav.top-nav div.drop-down > div:first-child, nav.top-nav>button {
		
	}
	nav.top-nav div.drop-down:is(:hover, :focus, :focus-within) > div:first-child {
		
	}
	nav.hidden-left-nav {
		border-right-color: #080;
	}

	.dialog {
		border-color: #080;
	}
}
