body {
	background: repeating-linear-gradient(#0c0, white 100vh, #0c0 200vh);
	background-attachment: fixed;
	font-family: Garamond;
}

h1.main-title {
	color: black;
}
h1.main-title::before {
	content: "\2618\00a0";
}
h1.main-title::after {
	content: "\00a0\2618";
}

nav.top-nav {
	background: linear-gradient(#080, #0a0, #080);
}
nav.top-nav div.drop-down div {
	background: #0e0;
	color: black;
}
nav.top-nav div.drop-down>div:first-child {
	background: transparent;
	color: white;
}
nav.top-nav div.drop-down:is(:hover, :focus, :focus-within) > div:first-child {
	background: #4c4;
}
nav.top-nav>button {
	border-radius: 0em;
	background: transparent;
	color: black;
}
nav.top-nav>button::before {
	display: none;
}
nav.top-nav>button::after {
	display: none;
}
nav.hidden-left-nav {
	border-right-color: #0c0;
}

button:not(.hide-aside) {
	position: relative;
}
button:not(.hide-aside):active::after {
	/* makes the rainbow while active */
	content: "\1f308";
	position: absolute;
	left: 0em;
	right: 0em;
	top: -.2em;
	font-size: 1.5em;
}
button:not(.hide-aside)::before {
	
}
button:not(.hide-aside)::after {
	
}
button:disabled, button[disabled] {
	
}

@media (prefers-color-scheme: dark) {
	body {
		background-image: repeating-linear-gradient(#080, black 100vh, #080 200vh);
	}

	h1.main-title {
		color: white;
	}

	nav.top-nav {
		
	}
	nav.top-nav div.drop-down div :is(h2, h3, h4, h5, h6) {
		color: black;
	}
	nav.top-nav div.drop-down > div:first-child, nav.top-nav>button {
		
	}
	nav.top-nav div.drop-down:is(:hover, :focus, :focus-within) > div:first-child {
		
	}
	nav.hidden-left-nav {
		border-right-color: #080;
	}

	button:not(.hide-aside) {
		
	}
	button:not(.hide-aside):active {
		
	}
	button:not(.hide-aside)::before, button:not(.hide-aside)::after {
		
	}
}
