body {
	-webkit-background-image: repeating-linear-gradient(#f70, #ff0 50vh, #740 100vh, #f70 150vh);
	-moz-background-image: repeating-linear-gradient(#f70, #ff0 50vh, #740 100vh, #f70 150vh);
	-o-background-image: repeating-linear-gradient(#f70, #ff0 50vh, #740 100vh, #f70 150vh);
	background-image: repeating-linear-gradient(#f70, #ff0 50vh, #740 100vh, #f70 150vh);
	font-family: garamond;
}
h1.main-title {
	color: black;
}