body {
	-webkit-background-image: repeating-linear-gradient(#f70, #ff0 50vh, #740 100vh, #f70 150vh);
	-moz-background-image: repeating-linear-gradient(#f70, #ff0 50vh, #740 100vh, #f70 150vh);
	-o-background-image: repeating-linear-gradient(#f70, #ff0 50vh, #740 100vh, #f70 150vh);
	background-image: repeating-linear-gradient(#f70, #ff0 50vh, #740 100vh, #f70 150vh);
	background-attachment: fixed;
	font-family: garamond;
}
h1.main-title {
	color: black;
}

button:not(.hide-aside) {
	position: relative;
	margin-top: .75rem;
	background: radial-gradient(#c72, #951);
	border: .05rem solid black;
	border-radius: 1.2rem 1.5rem .7rem .6rem;
	padding: .15rem .4rem;
	font-family: san-serif;
	color: white;
}
button:not(.hide-aside)::before {
	content: "";
	position: absolute;
	bottom: calc(100% - .3rem);
	left: 12%;
	border: .05rem solid black;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
	width: .4rem;
	height: .75rem;
	background: linear-gradient(to right, #951, #c72, #951);
	transform: rotate(-30deg);
}
button:not(.hide-aside)::after {
	content: "";
	position: absolute;
	bottom: calc(100% + .15rem);
	left: calc(12% - .35rem);
	border: .05rem solid black;
	border-radius: 50%;
	width: .8rem;
	height: .5rem;
	background: white;
	transform: rotate(-30deg);
}
button:not(.hide-aside):active::after {
	/* makes the knife while active */
	content: "\00a0\2009\1f52a";
	font-size: 2em;
	white-space: nowrap;
	/* transform: scale(-1, 1); */
}
button:not(.hide-aside):disabled, button:not(.hide-aside)[disabled] {
	background: radial-gradient(#951, #210);
	color: gray;
}
button:not(.hide-aside):disabled::before, button:not(.hide-aside)[disabled]::before {
	background: linear-gradient(to right, #210, #951, #210);
}
button:not(.hide-aside):disabled::after, button:not(.hide-aside)[disabled]::after {
	background: radial-gradient(#ccc, #aaa, #555, #111);
}
button:not(.hide-aside):disabled:active::after, button:not(.hide-aside)[disabled]:active::after {
	content: "\00a0\2002\1f92e";
	font-size: 1.5em;
}

iframe.top-nav, nav.top-nav, .site-editor {
	background: #951;
}
nav.top-nav div.drop-down > div:first-child, nav.top-nav > button, div div.drop-down > div:first-child, .site-editor > button {
	background: #951;
	color: white;
}
nav.top-nav div.drop-down div, div div.drop-down div {
	background: #fc6;
}
nav.top-nav div.drop-down:hover > div:first-child, nav.top-nav > button:hover, nav.top-nav div.drop-down:focus > div:first-child, nav.top-nav div.drop-down:focus-within > div:first-child, div div.drop-down:hover > div:first-child, div div.drop-down:focus > div:first-child, div div.drop-down:focus-within > div:first-child {
	background: #c72;
}
